@use '@/styles/mixins.scss' as *;

.layout-wrapper {

  --zm-toolbar-height:  2.75rem;
  --zm-toolbar-icon-size: 1.75rem;
  --zm-toolbar-logo-size: 2.5rem;

  .el-header, .el-aside, .el-main {
    padding: 0;
  }

  .el-header {
    height: max-content;
  }

  .el-aside {
    width: max-content;
    height: calc(100vh - var(--zm-toolbar-height));
  }

  .el-main {
    padding: var(--zm-common-padding);
  }

  .toolbar {
    height: var(--zm-toolbar-height);
    background-color: var(--el-bg-color);
    border-bottom: 1px solid var(--el-color-info-light-5);
    padding: calc(var(--zm-common-padding) / 4) calc(var(--zm-common-padding));

    @include flex-center-space-between();

    .el-icon {
      color: var(--el-text-color-primary);
      font-size: var(--zm-toolbar-icon-size);
    }
  }

  .wrapper-logo {
    height: inherit;
    max-height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: var(--zm-toolbar-logo-size);
    font-weight: bold;
    color: var(--el-text-color-primary);
  }
}

.horizontal-wrapper {
  .horizontal-sidebar {
    height: inherit;
  }
}