@use '../../../styles/mixins' as *;

@include b(zm-table) {
}

@include b(zm-table-content) {
  margin: 10px 0;

  @include e(operation-bar) {
    display: flex;
    align-items: center;
  }

  @include e(split-operation-bar) {
    justify-content: space-between;
    margin: 6px 0;
  }
}

@include b(zm-table-pagination) {
  display: flex;
  align-items: center;
}
