@use '../../../styles/mixins' as *;

@include b(zm-table) {
}

@include b(zm-filter-form) {
  @include e(operations) {
    @include flex-center-end();
    grid-column: -2/-1;
    margin-bottom: 18px;
  }

  @include e(container) {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .hidden {
    display: none;
  }
}

@include b(zm-table-content) {
  margin: 10px 0;

  @include e(operation-bar) {
    display: flex;
    align-items: center;
  }

  @include e(split-operation-bar) {
    justify-content: space-between;
    margin: 6px 0;
  }
}

@include b(zm-table-pagination) {
  display: flex;
  align-items: center;
}
