.zm-table {

  &__content {
    margin: 10px 0;

    &-operation {
      display: flex;
      align-items: center;
    }

    &-split-operation {
      justify-content: space-between;

      &-part:not(:empty) {
        margin-bottom: 5px;
      }
    }
  }

  &__pagination {
    display: flex;
    align-items: center;
  }
}