.zm-scroll {
  &__wrapper {
    height: 100%;
    width: 100%;
    text-align: left;
    overflow: hidden;

    &--scrollX {
      white-space: nowrap;
    }
  }

  &__content {
    &--scrollX {
      display: inline-block;
    }
  }
}