.zm-menu {
  --zm-menu-expend-width: 250px;
  --zm-menu-collapse-width: 64px;

  --zm-menu-toolbar-height: 40px;
  --zm-menu-filter-height: 32px;

  width: var(--zm-menu-expend-width);
  max-width: var(--zm-menu-expend-width);
  min-width: var(--zm-menu-expend-width);
  height: 100%;
  transition: ease 0.2s;
  overflow: hidden;

  &.is-collapse {
    width: var(--zm-menu-collapse-width);
    min-width: var(--zm-menu-collapse-width);
    max-width: var(--zm-menu-collapse-width);
  }

  &__toolbar {
    height: var(--zm-menu-toolbar-height);
    padding: calc(var(zm-common-padding) / 2) var(--zm-common-padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: var(--el-color-info-light-8);

    &.is-collapse {
      justify-content: center;
    }

    & > div {
      display: flex;
      padding: 0 calc(var(--zm-common-padding) / 2);
    }
  }

  &__filter {
    height: var(--zm-menu-filter-height);
    margin: calc(var(--zm-common-padding) / 2) var(--zm-common-padding);
    max-width: 100%;

    &--select {
      display: inline-flex;
      width: 100%;

      .el-select__wrapper {
        border-radius: 0;
        border: 1px solid var(--el-border-color);
        border-right: 0;
        box-shadow: none;
      }
    }

    .el-button {
      padding: 8px 17px;
    }

    input,
    button,
    .el-input__wrapper,
    .el-input-group__prepend {
      background-color: inherit;
      border-radius: 0;
    }
  }

  &__content {
    height: calc(
      100% -
        (
          var(--zm-menu-toolbar-height) + var(--zm-menu-filter-height) +
            var(--zm-common-padding) * 2
        )
    );

    .el-menu {
      border-right: none;
    }
  }

  &__icon {
    padding: calc(var(--zm-common-padding) / 2);
    border-radius: 50%;
    cursor: pointer;
    box-sizing: content-box;
    color: var(--el-text-color-regular);

    &--inactive {
      margin-right: var(--zm-common-padding);
      background-color: var(--el-color-info-light-5);
    }

    &--active {
      margin-right: var(--zm-common-padding);
      color: var(--el-color-white);
      background-color: var(--el-color-primary);
    }

    &--collect {
      position: absolute;
      right: 15px;
      top: 25%;
    }

    &.is-collect {
      display: block;
    }

    &.is-unCollect {
      display: none;
    }
  }
}
